mat-raised-button{
    padding:0px;
    margin:0px;
    vertical-align: -webkit-baseline-middle;   
   }
   :host {
       display: flex;
       flex-direction: column;
       align-items: flex-start;
     }
     
     .demo-section + .demo-section {
       margin-top: 16px;
     }


     .notification-content {
      display: flex;
      flex-direction: column;
      margin-left: 8px;
   
    }
    .notification-title {
      font-size: 14px;
      font-weight: bold;
    }
    .notification-message {
      font-size: 12px;
    }
    .notification-message:hover {
      background-color: #f02929;
    }

    .notification-icon  :hover {
      background-color: #f02929;
      color:blueviolet
    }
