<div style="margin:20px 20px 10px 0px;float: right;" *ngIf="dashboardData">
  <i  [matMenuTriggerFor]="notificationMenu"[matBadge]="notificationCount" class="fas fa-bell" matBadgeSize="small" matBadgeColor="warn"style="vertical-align: middle;font-size:20px;color:gray;background-color: rgb(255, 255, 255);"></i>
  
  <mat-menu #notificationMenu="matMenu">
    <mat-card-title style="text-align: center;background-color: black;color:#fff;padding:0px;margin:0px;">Notifications</mat-card-title>
    <div *ngFor="let item of notificationItems">
      <button mat-menu-item >
        <mat-icon panelClass="custom-menu" class="notification-icon">message</mat-icon>
        <div class="notification-content" [ngClass]="{'sidee':item.state == '0'}">
         
          <div class="notification-message"  (click)="viewdata(item.message,item.id)" *ngIf="item.message.length<30;else other">{{item.message}}<mat-icon  [ngClass]="{'sicon':item.state == '0'}" style="float:right;">fiber_manual_record</mat-icon></div>
          <ng-template #other>
            <div class="notification-message"  (click)="viewdata(item.message,item.id)" >{{item.message.slice(0,30)}}...................<mat-icon   [ngClass]="{'sicon':item.state == '0'}" style="float:right;">fiber_manual_record</mat-icon></div>
          </ng-template>
        </div>
      </button>
    </div>
  </mat-menu>

  <span *ngIf="profileImage != null; else other"><img [src]="profileImage" width="25" style="border-radius: 28px;vertical-align: middle;margin:0px 15px;color:gray;background-color: rgb(255, 255, 255);" /></span>
    <ng-template #other>
    <span><mat-icon style="vertical-align: middle;margin:0px 10px;color:gray;background-color: rgb(255, 255, 255);">account_circle</mat-icon></span>
  </ng-template>
 <span style="margin:0px 5px">
  <button mat-button [matMenuTriggerFor]="menu">
    <span style="margin-right:5px">{{dashboardData.firstName}}</span> <i class="fa fa-caret-down" aria-hidden="true"></i>
  </button>
  <mat-menu #menu="matMenu">
      <button mat-menu-item>{{dashboardData.firstName}}</button>
      <button mat-menu-item color="warn" (click)="signout()">Logout</button>
      <button mat-menu-item>Changepassword</button>
  </mat-menu>
 </span>
</div>